{% extends 'base.html' %}

{% block content %}

<div class="'col-md-6 offset-md-3">

    {% if user.is_authenticated %}

    <h1>Hello Django World!</h1>

    {% else %}

    <h1>Login</h1>

    <form method="POST" action="{% url 'home' %}">
        <!-- csrf, stands for cross-site request forgery -->
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Your Username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Your Password" required>
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>

    {% endif %}

</div>

{% endblock %}