{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Register</h1>
    <br />
    <form method="POST" action="">
        <!-- csrf, stands for cross-site request forgery -->
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Your Form Has Errors
            {% for field in form %}
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
            {% endfor %}
            <botton type="button" class="btn-close" data-ba-dismiss="alert" aria-label="Close"></botton>
        </div>
        {% endif %}

        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>

{% endblock %}